In [56]:
import pandas as pd

In [57]:
dfmovies = pd.read_csv("zippedData/tmdb.movies.csv.gz")
dfmovies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [58]:
dfmovies['genre_ids'][0]

'[12, 14, 10751]'

In [59]:
dfmovies['genre_ids'][0][1]

'1'

In [60]:
dfmovies.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [61]:
type(dfmovies['genre_ids'])

pandas.core.series.Series

In [62]:
def removeFirstLastChar(dfName, columnName, char1, char2):
    newCol = []
    for val in dfName[columnName]:
        newCol.append(val.replace(char1, '').replace(char2, ''))
    return(newCol)

In [63]:
dfmovies['testIDs'] = removeFirstLastChar(dfmovies, 'genre_ids', '[', ']')

In [64]:
dfmovies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,testIDs
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,"12, 14, 10751"
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,"14, 12, 16, 10751"
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,"12, 28, 878"
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,"16, 35, 10751"
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,"28, 878, 12"
...,...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,"27, 18"
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,"18, 53"
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,"14, 28, 12"
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,"10751, 12, 28"
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,"53, 27"

In [65]:
def splitNewCol(dfName, columnName):
    newColumn = []
    for val in dfName[columnName]:
        newColumn.append(val.split(","))
    return(newColumn)

In [66]:
dfmovies['genreIDs'] = splitNewCol(dfmovies, 'testIDs')

In [67]:
dfmovies['genreIDs']

0             [12,  14,  10751]
1        [14,  12,  16,  10751]
2               [12,  28,  878]
3             [16,  35,  10751]
4               [28,  878,  12]
                  ...
26512                 [27,  18]
26513                 [18,  53]
26514            [14,  28,  12]
26515         [10751,  12,  28]
26516                 [53,  27]
Name: genreIDs, Length: 26517, dtype: object

In [68]:
dfmovies['genreIDs'][0][0]

'12'

In [70]:
dfmovies['genreIDs'][0][1]

' 14'